<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SharingSmilePU" transaction-type="JTA">
    <jta-data-source>java:app/SQL Server</jta-data-source>
    <class>com.modal.MasterDonation</class>
    <class>com.modal.MasterProblem</class>
    <class>com.modal.MasterLogin</class>
    <class>com.modal.MasterVolunteer</class>
    <class>com.modal.MasterRegistration</class>
    <class>com.modal.MasterEvent</class>
    <class>com.modal.MasterTask</class>
    <class>com.modal.MasterNGO</class>
    <class>com.modal.MasterDonorReg</class>
    <class>com.modal.VolunteerTask</class>
    <class>com.modal.GoodDonation</class>
    <class>com.modal.Moneydonation</class>
    <class>com.modal.MasterRequirement</class>
    <class>com.modal.MasterFeedback</class>
    <class>com.modal.RequirementTaskTable</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
